# Transform Ratings

This notebook takes the rated broad query set from Chorus (extended for this talk) and generates two output files:
1) a file with ratings in a format the trec_eval tool can use to evaluate the relevance of our competing search engines.
2) a file with the queries that can be used as the input for the evaluation runs.

In [1]:
import pandas as pd

## Get the broad set of rated queries

In [3]:
df_rated_queries = pd.read_csv('../data/Broad_Query_Set_rated_extended.csv')
df_rated_queries

         query     docid  rating
0       laptop   1229111       0
1       laptop   2060476       0
2       laptop  77026839       0
3       laptop  77311847       0
4       laptop  77026550       0
...        ...       ...     ...
4914  xbox one      2077       0
4915  xbox one      2076       0
4916  xbox one     49586       0
4917  xbox one   1691602       0
4918  xbox one   1319652       0

[4919 rows x 3 columns]

## Group by queries and export to a file with the index to have queries and query ids

In [4]:
#df_queries = df_rated_queries['query']
df_queries = df_rated_queries.groupby(by='query', as_index=False).agg({
    'rating': ['count']
})
df_query_idx = df_queries['query']
name = '../data/queries.txt'

df_query_idx.to_csv(name, sep="\t", header=False)

## Go through the queries and update the original ratings with the query ids

In [5]:
for idx, row in df_query_idx.iteritems():
    df_rated_queries.loc[df_rated_queries['query'] == row, "idx"] = str(idx)

    
df_rated_queries['Q0'] = 0
df_ratings = df_rated_queries[['idx', 'Q0', 'docid', 'rating']]

/var/folders/t9/3d8197ns54zbbysmd_lpngvr0000gn/T/ipykernel_82451/1984911563.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for idx, row in df_query_idx.iteritems():

## Save ratings to file

In [6]:
name = '../data/ratings.qrels'

df_ratings.to_csv(name, sep="\t", header=False, index=False)
df_ratings

      idx  Q0     docid  rating
0      66   0   1229111       0
1      66   0   2060476       0
2      66   0  77026839       0
3      66   0  77311847       0
4      66   0  77026550       0
...   ...  ..       ...     ...
4914  133   0      2077       0
4915  133   0      2076       0
4916  133   0     49586       0
4917  133   0   1691602       0
4918  133   0   1319652       0

[4919 rows x 4 columns]